.card {
  width: 24rem;
  height: 35rem;
  margin: 0.5rem 0;
  background-color: white;
  /* padding: 1rem; */
  border-radius: 1.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  /* text-align: center; */
}

@media only screen and (max-width: 385px) {
  .card{
    width: 20rem;
  }
}

@media only screen and (max-width: 326px) {
  .card{
    width: 17rem;
  }
}

@media only screen and (max-width: 281px) {
  .card{
    width: 14rem;
  }
}



